@use '../styles/media-queries' as media;
.Elements{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            cursor: pointer;
            padding-right: 18px;
            img{
                width: 17px;
                height: 17px;
            }
        }
        .wishList{
            svg{
                width: 17px;
                height: 17px;
                transition: fill 350ms ease;
            }
            &:hover{
                svg{
                   
                    fill: #ff3636;
                }
            }
        }
        .btCart{
            position: relative;
            span{
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: #ffffff;
                bottom: -3px;
                right: 12px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 11px;
                font-weight: 500;
            }
        }

        @include media.mobile{
            li{
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(4){
                    display: none;
                }

                &:nth-child(2){
                    position: relative;
                    span{
                        position: absolute;
                        bottom: 0;
                        left: 8px;
                        right: 0;
                        height: 7px;
                        background-image: url('../assets/icons/heart-icon.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        fill: #ff3636;
                    }
                }
            }
        }
    }
}