@use './variables' as var;
@use '../styles/media-queries' as media;
.Header{
    width: 100%;
    height: 64px;
    background-color: var.$primary-color ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    .Hd-container{
        width: 100%;
        height: 100%;
        max-width: 96rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-left: 50px;
        padding-right: 32px;

    }
    .Hd-MenuBurguer{
        display: none;
    }
    .Logo{
        cursor: pointer;
        img{
            width: 115px;
        }
    }
    @include media.tablet{
        .Navigation{
            display: none;
        }
        .Hd-MenuBurguer{
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            &>img{
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
           
        }
        .Search-desktop{
            display: none;
        }
    }
    @include media.mobile{
        .Hd-container{

            padding: 0 10px;
        }
    }
}