@import './media-queries';

.ListDots {
    display: none;
}

@include mobile {

    .ListDots {
        display: block;
        position: absolute;
        
        bottom: 5px;
       span{
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 50%;
        margin: 5px;
        z-index: 10;
        cursor: pointer;
        &.active{
            background-color: #0f3e99;
        }
       }
    }
}