@use './variables' as var;

.ProductDetails {
    width: 100%;
    padding: 0 12px;

    .pd-container {

        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 384px;
        margin: 0 auto;

        h1 {
            font-size: 20px;
            color: var.$primary-color;
            letter-spacing: .01em;

        }

        .pd-subtitle-ref {
            display: flex;
            align-items: baseline;
            gap: 15px;

            .subtitle {
                font-weight: 300;
                font-size: 15px;
                color: var.$primary-color;

            }

            .ref {

                color: #828282;
                font-size: 13px;
                letter-spacing: .02em;
            }
        }

        .pd-price {
            font-weight: 400;
            font-size: 20px;
            color: var.$primary-color;

        }

        .pd-stock {
            color: var.$secondary-color;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;

            span {
                font-weight: 700;
            }
        }

        .pd-sizes-guide {
            display: flex;
            justify-content: space-between;
            color: var.$primary-color;

            .sizes {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 15px;
                font-weight: 500;


                li {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }

                .active {
                    background-color: var.$primary-color;
                    color: #ffffff;
                }
            }

            .guide {
                background: none;
                border: none;
                text-decoration: underline;
                font-size: 12px;
                cursor: pointer;
            }
        }

        .pd-amount-add {
            display: flex;
            justify-content: left;
            gap: 16px;

            .amount {
                border-bottom: 1px solid #bdbdbd;
                padding-bottom: 3px;
                display: flex;
                justify-content: center;
                width: 100px;

                input {

                    width: 54px;
                    padding: 5px;
                    text-align: center;
                    font-weight: 700;
                    color: var.$primary-color;
                    font-size: 16px;
                    border: none;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;

                    }
                }

                button {
                    background: none;
                    border: none;
                    font-size: 18px;

                    cursor: pointer;
                    color: #4f4f4f;

                    &:nth-child(1) {
                        padding-left: 15px;
                    }

                    &:nth-child(3) {
                        padding-right: 15px;
                    }
                }


            }

            .bt-addCart {
                width: 200px;
                height: 40px;
                background-color: var.$primary-color;
                color: #ffffff;
                font-family: var.$font;
                border: none;
                padding: 0 20px;
                font-weight: 600;
                letter-spacing: .05em;
                cursor: pointer;
            }
        }

        .pd-toggle {
            cursor: pointer;

            .toggle-info {

                padding: 15px 0;
                width: 100%;
                border-top: 1px solid #bdbdbd;

                .title {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 300;
                    font-size: 14px;

                   img{
                    width: 17px;
                    height: 16px;
                    transform: rotate(180deg);
                   }
                   .expanded{
                    transform: rotate(0deg);

                   }
                }

                .info {
                    margin-top: 10px;
                    font-size: 12px;
                    max-height: 8em;
                    overflow-y: scroll;
                    line-height: 18px;

                    color: #4f4f4f;

                    &.esp {
                        max-height: min-content;
                        overflow: visible;

                        span {
                            display: block;
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 5px;
                        height: 3px;
                        background-color: #efefef;
                    }


                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(51, 51, 51, .6);
                        border-radius: 30px;
                        position: absolute;
                        top: 0;
                        right: 0;

                    }
                }

            }
        }

    }
}