@use '../styles/variables' as var;
.SideLeftNav{
    width:85%;
    max-width: 320px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    z-index: 20;

    li {
        margin-bottom: 24px;
    }

    .Sln-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d6d6d6;
        padding:0 10px 10px;

        p {
            font-size: 1.6rem;
        }

        button {
            background: none;
            border: none;
            font-size: 1rem;
            cursor: pointer;
        }

    }
    .Sln-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d6d6d6;
        padding:0 10px 10px;
        

        p {
            font-size: 1.6rem;
        }

        button {
            background: none;
            border: none;
            font-size: 1rem;
            cursor: pointer;
        }

    }

    .Sln-menu {
        padding:10px;
        li {
            cursor: pointer;
        }

        .Sln-menu--top {
            margin-top: 20px;
            color: #8b8b8b;
            padding: 0 10px;
            font-size: 14px;
        }

        .Sln-menu--center {
            font-weight: 700;
            border-bottom: 1px solid #d6d6d6;

        }

        .Sln-menu--bottom {
            margin-top: 20px;
            font-size: 14px;
            color: var.$primary-color;
            font-weight: 500;
            li {
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                &:hover {
                    color: #009ade
                }
            }
            

            & li:nth-child(1)::before,
            & li:nth-child(2)::before,
            & li:nth-child(3)::before,
            & li:nth-child(4)::before{
                
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;            
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
                
            }

            & li:nth-child(1)::before{
                background-image: url('../assets/icons/userblack.svg');
            }
            & li:nth-child(2)::before{
                background-image: url('../assets/icons/heartblack.svg');
            }
            & li:nth-child(3)::before{
                
                background-image: url('../assets/icons/mapblack.png');
            }
            & li:nth-child(4)::before{
                background-image: url('../assets/icons/faqblack.svg');
            }

            
        }
    }

}