@import './media-queries';

.SlideSmall {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;

    .ScrollContainer {
        width: 100%;
        max-height: 800px;
        height: auto;


        .SlideSmallContainer {
            display: flex;
            flex-direction: column;
            transition: all 0.3s ease;

            .ssc-img {
                margin-bottom: 10px;
                padding-left: 5px;

                img {

                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    cursor: pointer;

                }
            }

        }
    }


    button {
        width: 100%;
        text-align: center;

        height: 50px;
        position: absolute;

        cursor: pointer;

        color: #0f3e99;
        font-size: 34px;
        font-weight: 700;


        border: none;
        z-index: 1;

        span {
            transform: rotate(90deg);
            display: block;

            pointer-events: none;
        }
    }

    button:first-child {
        top: 0px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

    }

    button:last-child {

        bottom: 0px;
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));


    }
}

@include tablet {
    .SlideSmall {
        max-width: 100%;
        margin-top: 20px;
        height:220px;
        .ScrollContainer {
            width: 100%;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .SlideSmallContainer {

                flex-direction: row;
              
                height:100%;
                .ssc-img{
                    padding-left: 0;
                    margin-left: 5px;
                    width: 22%;
                    flex: 1 0 auto;
                    
                    img {
                        padding: 0;
               
                        width:90%;
                        height: auto;
                        object-fit: contain;
                        

                    }


                }
            }
        }

        button {

            width: 30px;
            text-align: center;

            height: 100%;

            span {
                transform: rotate(0deg);
                display: block;
                pointer-events: none;
            }
        }

        button:first-child {
            left: 0px;
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));


        }

        button:last-child {

            right: 0px;
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));


        }

    }
}